<div class="w-100 h-100 d-flex align-items-center justify-content-center">

  <!-- reset container  -->
  <div class="d-flex flex-column align-items-center" style="width: 260px;">

    <!-- logo -->
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <img src="images/logo.svg" alt="data_keeper_x_logo" style="width: 130px;">
      </div>
    </div>
    <!-- logo -->

    <!-- reset form -->
    <div class="d-none flex-column align-items-center w-100">

      <!-- title -->
      <div>
        <h1 class="h5">Reset <a [routerLink]="['/']" class="text-primary text-decoration-none">DKX</a> Password</h1>
      </div>
      <!-- title -->

      <!-- reset main form -->
      <div class="row g-0 my-4 col-12">

        <!-- email -->
        <div class="col-12 d-flex flex-column">
          <label for="reset-email" class="form-label">Email</label>
          <input type="email" id="reset-email" class="form-control">
          <small class="form-text">Please fill the email field!</small>
        </div>
        <!-- email -->

      </div>
      <!-- reset main form -->

      <!-- action buttons -->
      <div class="col-12">
        <div class="col-12">
          <button class="btn btn-primary col-12">
            Reset Password
          </button>
        </div>
      </div>
      <!-- action buttons -->

    </div>
    <!-- reset form -->

    <!-- change password form -->
    <div class="d-flex flex-column align-items-center w-100">

      <!-- title -->
      <div>
        <h1 class="h5">Reset <a [routerLink]="['/']" class="text-primary text-decoration-none">DKX</a> Password</h1>
      </div>
      <!-- title -->

      <!-- reset main form -->
      <div class="row g-0 my-4 col-12">

        <!-- password -->
        <div class="col-12 d-flex flex-column">
          <label for="reset-password" class="form-label">Password</label>
          <input type="password" id="reset-password" class="form-control">
          <small class="form-text">Please fill the password field!</small>
        </div>
        <!-- password -->

        <!-- confirm password -->
        <div class="col-12 d-flex flex-column mt-4">
          <label for="confirm-reset-password" class="form-label">Confirm Password</label>
          <input type="password" id="confirm-reset-password" class="form-control">
          <small class="form-text">Please fill the Confirm Password field!</small>
        </div>
        <!-- confirm password -->

      </div>
      <!-- reset main form -->

      <!-- action buttons -->
      <div class="col-12">
        <div class="col-12">
          <button class="btn btn-primary col-12">
            Reset Password
          </button>
        </div>
      </div>
      <!-- action buttons -->

    </div>
    <!-- change password form -->

  </div>
  <!-- reset container  -->

</div>
