<div class="bg-secondary bg-opacity-25 rounded-4 p-3 shadow-sm w-100 h-100 d-flex flex-column" style="width: 100%;">

  <!-- header -->
  <div class="col-12 row g-0 align-items-center justify-content-between mb-3">
    <span class="col h5 text-dark">App list</span>
    <button class="btn btn-primary col-auto" (click)="modal.visibility=true">
      <i class="bi bi-plus"></i>
    </button>
  </div>
  <!-- header -->

  <!-- app list -->
  <div class="overflow-y-auto">
    <!-- item -->
    @for (app of apps; track $index) {
    <a [routerLink]="[app.id]" class="btn btn-sm btn-secondary text-dark col-12 text-start py-2 px-3 rounded-2 mb-2">
      <span>
        {{app.name}}
      </span>
    </a>
    }
  </div>
  <!-- app list -->

</div>

<!-- new app modal -->
<app-modal [visibility]="modal.visibility" [title]="modal.title" (closeModal)="closeModal()">

  <div class="col-12 row g-0">

    <!-- app name -->
    <div class="col-12">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" [(ngModel)]="app.name">
    </div>
    <!-- app name -->

    <!-- app description -->
    <div class="col-12 mt-3">
      <label class="form-label">Description</label>
      <input type="text" class="form-control" [(ngModel)]="app.description">
    </div>
    <!-- app description -->

    <!-- actions -->
    <div class="col-12 row g-0 justify-content-between mt-4">

      <button class="btn btn-secondary col-auto" (click)="closeModal()">
        Cancel
      </button>

      <button class="btn btn-primary col-auto" (click)="createApp()">
        Create
      </button>

    </div>
    <!-- actions -->

  </div>

</app-modal>
<!-- new app modal -->
