<div class="w-100 h-100 d-flex flex-column overflow-y-auto">

  <!-- header -->
  <div class="w-100 d-flex align-items-center justify-content-between">
    <!-- search -->
    <div>
      <input type="text" class="form-control shadow-none" placeholder="Search" (input)="search()"
        [(ngModel)]="searchInput">
    </div>
    <!-- search -->

    <!-- create  -->
    <div>
      <button class="btn btn-primary" (click)="showModal('newUser')">
        <i class="bi bi-plus"></i>
        New User
      </button>
    </div>
    <!-- create  -->
  </div>
  <!-- header -->

  <!-- main section -->
  <div class="w-100 row g-0 pt-4">

    <!-- item -->
    @for (user of SearchedUsers; track $index) {
    <div class="col-12 row g-0 bg-secondary bg-opacity-25 rounded-4 px-3 py-3 mb-3">
      <!-- icon -->
      <div class="col-auto">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center"
          style="width: 50px;aspect-ratio: 1;">
          <h4 class="bi bi-person-fill text-light m-0"></h4>
        </div>
      </div>
      <!-- icon -->

      <!-- detail -->
      <div class="col d-flex flex-column justify-content-center ps-3">
        <span>
          {{user.first_name!==null?user.first_name + ' ' + user.last_name : 'incomplete'}}
        </span>
        <small class="opacity-75">
          {{user.email}}
        </small>
      </div>
      <!-- detail -->

      <!-- role -->
      <div class="col d-flex align-items-center">
        <span>
          {{getRoleNameById(user.role_id)}}
        </span>
      </div>
      <!-- role -->

      <!-- actions -->
      <div class="col-auto d-flex align-items-center">
        <!-- update detail -->
        <button class="btn btn-secondary mx-1" (click)="showUpdateUserModal(user.id??0)">
          <i class="bi bi-pencil"></i>
        </button>
        <!-- change email -->
        <button class="btn btn-secondary mx-1" (click)="showUpdateUserEmailModal(user.id??0)">
          Change Email
        </button>
        <!-- change password -->
        <button class="btn btn-secondary mx-1">
          Change Password
        </button>
        <!-- delete -->
        <button class="btn btn-danger mx-1">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <!-- actions -->

      <div>

      </div>


    </div>
    }
    <!-- item -->

  </div>
  <!-- main section -->

</div>

<app-modal [title]="modal.title" [visibility]="modal.visibility" (closeModal)="modal.visibility=!modal.visibility">
  <!-- Create user form -->
  @if (modalForm=='newUser') {
  <div class="row g-0 col-12">
    <!-- first name -->
    <div class="col-6 pe-1">
      <label class="form-label">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="User.first_name">
    </div>
    <!-- last name -->
    <div class="col-6 ps-1">
      <label class="form-label">Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="User.last_name">
    </div>
    <!-- email -->
    <div class="col-12 mt-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" [(ngModel)]="User.email">
    </div>
    <!-- role -->
    <div class="col-12 mt-3">
      <label class="form-label">Role</label>
      <select class="form-select" [(ngModel)]="User.role_id">
        <option value="null">Developer</option>
        @for (role of Roles; track $index) {
        <option [value]="role.id">{{role.name}}</option>
        }
      </select>
    </div>
    <!-- password -->
    <div class="col-12 mt-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="User.password">
    </div>
    <!-- actions -->
    <div class="col-12 d-flex mt-4">
      <button class="btn btn-secondary" (click)="resetNewUser()">
        Reset
      </button>
      <button class="btn btn-primary ms-auto" (click)="createNewUser()">
        Create
      </button>
    </div>
  </div>
  }
  <!-- Create user form -->

  <!-- Update user -->
  @if (modalForm=='updateUser') {
  <div class="row g-0 col-12">
    <!-- email -->
    <div class="col-12">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" [(ngModel)]="User.email" disabled="true">
    </div>
    <!-- first name -->
    <div class="col-12 mt-3">
      <label class="form-label">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="User.first_name">
    </div>
    <!-- last name -->
    <div class="col-12 mt-3">
      <label class="form-label">Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="User.last_name">
    </div>
    <!-- role -->
    <div class="col-12 mt-3">
      <label class="form-label">Role</label>
      <select class="form-select" [(ngModel)]="User.role_id">
        <option value="null">Developer</option>
        @for (role of Roles; track $index) {
        <option [value]="role.id">{{role.name}}</option>
        }
      </select>
    </div>
    <!-- actions -->
    <div class="col-12 d-flex mt-4">
      <button class="btn btn-secondary" (click)="resetNewUser()">
        Reset
      </button>
      <button class="btn btn-primary ms-auto" (click)="updateUser()">
        Update
      </button>
    </div>
  </div>
  }
  <!-- Update user -->

  <!-- Update email -->
  @if(modalForm=='updateEmail'){
  <div class="row g-0 col-12">
    <!-- email -->
    <div class="col-12">
      <label class="form-label">New Email</label>
      <input type="text" class="form-control" [(ngModel)]="User.email">
    </div>
    <!-- actions -->
    <div class="col-12 d-flex mt-4">
      <button class="btn btn-secondary" (click)="resetNewUser()">
        Reset
      </button>
      <button class="btn btn-primary ms-auto" (click)="updateEmail()">
        Update
      </button>
    </div>
  </div>
  }
  <!-- Update email -->
</app-modal>
