<div class="w-100 h-100 d-flex align-items-center justify-content-center">

  <!-- login container  -->
  <div class="d-flex flex-column align-items-center" style="width: 260px;">

    <!-- logo -->
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <img src="images/logo.svg" alt="data_keeper_x_logo" style="width: 160px;">
      </div>
    </div>
    <!-- logo -->

    <!-- login form -->
    <div class="d-flex flex-column align-items-center">

      <!-- title -->
      <div>
        <h1 class="h5">Login To <a [routerLink]="['/']" class="text-primary text-decoration-none">DKX</a></h1>
      </div>
      <!-- title -->

      <!-- login main form -->
      <div class="row g-0 my-4">

        <!-- email -->
        <div class="col-12 d-flex flex-column">
          <label for="login-email" class="form-label">Email</label>
          <input type="email" id="login-email" class="form-control">
          <small class="form-text">Please fill the email field!</small>
        </div>
        <!-- email -->

        <!-- password -->
        <div class="col-12 d-flex flex-column mt-4">
          <label for="login-password" class="form-label">Password</label>
          <input type="password" id="login-password" class="form-control">
          <small class="form-text">Please fill the Pasword field!</small>
        </div>
        <!-- password -->

        <!-- forgot password -->
        <div class="col-12 mt-3">
          <a href="#" class="text-decoration-none">Forgot Password</a>
        </div>
        <!-- forgot password -->

        <!-- privacy string -->
        <div class="col-12 mt-4">
          <p class="small">
            I accept the software
            <a href="#" class="text-decoration-none">terms and conditions</a>
            by logging into my account.
          </p>
        </div>
        <!-- privacy string -->

      </div>
      <!-- login main form -->

      <div class="col-12">
        <!-- action buttons -->
        <div class="col-12">
          <button class="btn btn-primary col-12">
            Login
          </button>
        </div>
        <!-- action buttons -->
      </div>

    </div>
    <!-- login form -->

  </div>
  <!-- login container  -->

</div>
