<div class="w-100 h-100 d-flex align-items-center justify-content-center bg-secondary bg-opacity-10">

  <!-- main container -->
  <div class="w-100 h-100 px-3 py-3 d-flex overflow-x-hidden">

    <!-- side menu -->
    @if(isSideBarVisible){
    <div class="h-100 me-3" style="min-width: 270px;">
      <app-panel-side-menu></app-panel-side-menu>
    </div>
    }
    <!-- side menu -->

    <!-- main -->
    <div class="w-100 h-100 row g-0">

      <!-- header menu -->
      <div class="col-12" style="height: 75px;">
        <app-panel-header-menu></app-panel-header-menu>
      </div>
      <!-- header menu -->

      <!-- middle -->
      <div class="col-12 d-flex justify-content-end overflow-x-hidden py-3" style="height: calc(100% - 125px);">

        <!-- main section -->
        <div class="h-100" [class]="{'main-section':false}" style="min-width: 100%;">
          <app-panel-main-section></app-panel-main-section>
        </div>
        <!-- main section -->

        <!-- app section -->
        @if(isAppListVisible){
        <div class="overflow-y-hidden app-section">
          <app-panel-app-list-menu></app-panel-app-list-menu>
        </div>
        }
        <!-- app section -->

      </div>
      <!-- middle -->

      <!-- status bar -->
      <div class="col-12" style="height: 50px;">
        <app-panel-status-bar></app-panel-status-bar>
      </div>
      <!-- status bar -->

    </div>
    <!-- main -->

  </div>
  <!-- main container -->

</div>
